.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.App > .flex {
  padding-right: 35px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 60px;
  outline: 1px solid black;
  background-color: #DDD;
  flex-direction: column;
}

.title {
  padding-bottom: 30px;
  font-size: 24px
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: #749f18;
}

.yellow {
  background-color: #ffec19;
}

.red {
  background-color: #b80718;
}

.white {
  background-color: white;
}

.game {
  height: 25px;
  width: 25px;
  outline: 1px solid black;
}

.team {
  height: 25px;
  width: 50px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column
}

.teamcolumn {
  margin-right: 15px;
  outline: 1px solid black;
}

.teamcolumn:last-of-type {
  margin-right: 0px;
}

.center {
  text-align: center;
}


.col-legend {
  margin-top: 10px;
  width: 50px;
}

.col-legend-text {
  transform: rotate(45deg);
  width: 25px;
  margin-left: 3px;
}

.colour-legend {
  height: 45px;
  margin-left: 260px;
}

.colour-legend > .flex {
  margin-top: 10px;
  margin-right: 20px;
}

.colour-legend .game {
  margin-right: 7px;
}